#nav-user {
  float: right;
  margin: 0 12px 0 0;
  line-height: 28px;
}

.userPage {
  margin: 0 auto;
  width: 600px;
  height: 500px;
  /*background-color: aliceblue;*/
}

form {
  margin: 50px auto;
  width: 500px;
  height: 500px;
  padding: 50px;
}

.btnDiv {
  margin: 20px 0;
}

input {
  margin: 0 0 10px 0;
}

.nav-link {
  display: inline;
}

footer {
  margin-top: 30px;
}
