#nav-user {
  float: right;
  margin: 0 12px 0 0;
  line-height: 28px;
}

.userPage {
  margin: 0 auto;
  width: 600px;
  height: 500px;
}

form {
}

.user-ctl {
  margin: 50px auto;
  width: 500px;
  height: 500px;
  padding: 50px;
}

.btnDiv {
  margin: 20px 0;
}

input {
  margin: 0 0 10px 0;
}

.nav-link {
  display: inline;
}

footer {
  margin-top: 30px;
}

.main-container {
  margin: 20px;
}

.groupDiv {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(0.5, 0.5, 0.5, 0.5);
}

.postDiv {
  margin: 10px;
  padding: 10px;
}

.postDetailDiv a {
  text-decoration: none;
  color: black;
}
