#nav-user {
  float: right;
  margin: 0 12px 0 0;
  line-height: 28px;
}

.userPage {
  margin: 0 auto;
  width: 600px;
  height: 500px;
}

form {
  padding: 40px;
}

.user-ctl {
  margin: 50px auto;
  width: 500px;
  height: 500px;
  padding: 50px;
}

.btnDiv {
  margin: 20px 0;
}

input {
  margin: 0 0 10px 0;
}

.nav-link {
  display: inline;
}

footer {
  margin: 30px;
  text-align: center;
}

.main-container {
  margin: 50px auto;
  max-width: 1100px;
}

.recommendGroups {
  padding: 20px;
  border-radius: 5px;
  border-style: solid;
  border-color: #bcc4f1;
}

.groupDiv,
.postDiv {
  margin: 10px;
}

.posts .postDiv {
  margin: 0px;
  padding: 10px;
}

.detailPage {
  min-height: 500px;
}

.postDetailDiv {
  margin: 40px auto;
}

.posts {
  margin-right: 30px;
}

.postContentDiv .likes {
  display: inline-block;
}

h4 {
  margin: 0 0px;
}

a {
  text-decoration: none;
  color: black;
}

form a,
span a {
  text-decoration: underline #6373cc;
  color: #6373cc;
}

.postContentDiv a,
.groupName a {
  text-decoration: none;
  color: #6373cc;
}

#mainIcon {
  width: 50px;
}

.likes {
  float: left;
  margin-right: 20px;
  padding: 10px 0;
  width: 30px;
  line-height: 4;
  text-align: center;
  font-size: 20px;
  color: #bd2b2b;
}

.postContentDiv {
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

div span {
  display: flex;
}
/*
.source {
  display: flex;
}*/

h2 {
  margin: 10px;
  padding: 10px;
}

.pageClickDivSelect {
  margin-left: 20px;
  color: red;
  cursor: pointer;
}

.pageClickDiv {
  margin-left: 20px;
  color: blue;
  cursor: pointer;
}
