#nav-user {
  float: right;
  margin: 0 12px 0 0;
  line-height: 28px;
}

.userPage {
  margin: 0 auto;
  width: 600px;
  height: 500px;
}

form {
  padding: 30px;
  border: 5px solid #5ca1f5;
  border-radius: 20px;
}

.user-ctl {
  margin: 60px auto;
  width: 450px;
  padding: 45px;
}

input {
  margin: 0 0 10px 0;
}

.nav-link {
  display: inline;
  padding: 12px;
}

.main-container {
  margin: 50px auto;
  max-width: 1100px;
}

.recommendGroups {
  padding: 20px;
  margin-left: 20px;
  border-radius: 5px;
  border-style: solid;
  border-width: 3px;
  border-color: #5ca1f5;
}
.col-3 {
  padding: 0;
}

.groupDiv {
  margin: 10px;
}

.posts {
  margin: 0px;
  padding: 10px;
}

.postDiv {
  margin: 20px auto;
  padding: 0;
}

.detailPage {
  min-height: 500px;
}

.postDetailDiv {
  margin: 40px auto;
}

.posts {
  margin-right: 30px;
}

.postContentDiv .likes {
  display: inline-block;
}

h1 {
  margin: 0 0px;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

form a,
span a,
p a {
  text-decoration: underline #4965de;
  color: #4965de;
}

.postContentDiv a,
.groupName a {
  text-decoration: none;
  color: #4965de;
}

#titleIcon {
  width: 50px;
}

.likes {
  float: left;
  margin-right: 20px;
  padding: 10px 0;
  width: 30px;
  line-height: 4;
  text-align: center;
  font-size: 20px;
}

.likes svg {
  color: #f59f69;
}

.postContentDiv,
.commentDiv {
  padding-bottom: 10px;
  border-bottom: 1px dotted #e5e5e5;
}

.commentDiv,
.commentContent,
.postContent {
  padding: 10px;
}

div > span {
  display: flex;
}

.form-group,
.btnDiv {
  margin: 20px 5px;
}

.pageClickDivSelect {
  margin-left: 20px;
  color: #4965de;
  cursor: pointer;
  font-weight: bold;
}

.pageClickDiv {
  margin-left: 20px;
  color: #4965de;
  cursor: pointer;
}

.alert-danger {
  margin: 5px 0;
  padding: 5px 10px;
}

footer.container span {
  text-align: center;
}

.message {
  margin: 30px auto;
  text-align: center;
  display: block;
}

.addGroupForm {
  margin: 50px 30px 0 30px;
}

.pageBar {
  margin: 30px auto;
}

span.muted-text {
  display: block;
}

ul > li > a {
  margin: auto;
}
